<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-select label="Catégorie" placeholder="Séléctionnez une catégorie" (ionChange)="changeCategory($event)">
        @for (category of categories; track $index) {
          <ion-select-option [value]="category.id">{{ category.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Difficulté" placeholder="Sélectionnez la difficulté" (ionChange)="changeDifficulty($event)">
        <ion-select-option value="easy">Facile</ion-select-option>
        <ion-select-option value="medium">Moyenne</ion-select-option>
        <ion-select-option value="hard">Difficile</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-range label="Nombre de questions" [pin]="true" min="5" max="20" (ionChange)="changeAmount($event)"></ion-range>
    </ion-item>
  </ion-list>

  <ion-label>
    <ion-button expand="block" (ionFocus)="startGame()">Démarrer la partie</ion-button>
    <ion-button expand="block" color="secondary" fill="outline" href="/history">Historique des parties</ion-button>
  </ion-label>
</ion-content>
